<div class="">
  <div class="">
    <%= form_with(model: @post, local: true) do |f| %>
      <h3>投稿する</h3>
      <%= f.text_field :text, placeholder: "投稿内容" %>
      <%= f.submit "投稿" %>
    <% end %>
  </div>
</div>
